html {
	height: 100%;
	width: 100%;
	margin: 0 !important;
	padding: 0 !important;
}

body {
	height: 95%;
	margin: 0 !important;
	padding: 0 !important;
}

#top-banner {
	width: 100%;
	height: 100px;
	background: rgba(192,192,192,0.5);

/*	margin: 0px;
*/
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
}

#welcome {
	float: left;
	position: relative;
	left: 2%;
}

#welcome > h1 {
	font-size: 2.5em;
	font-family: "Gill Sans", sans-serif;
	font-weight: bold;
}

.btnHolder2 {
	float: right;
	top: 30%;
	position: relative;
}

#leaderboard_btn {
	position: relative;
	right: 5%;
	background: #e3e3e3;
	border: 1px solid #bbb;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
	box-shadow: inset 0 0 1px 1px #f6f6f6;
	color: #333;
	font: bold 12px/1 "helvetica neue", helvetica, arial, sans-serif;
	padding: 8px 0 9px;
	text-align: center;
	text-shadow: 0 1px 0 #fff;
	width: 150px; }

#leaderboard_btn:hover {
	background: #d9d9d9;
	-webkit-box-shadow: inset 0 0 1px 1px #eaeaea;
	box-shadow: inset 0 0 1px 1px #eaeaea;
	color: #222;
	cursor: pointer; }

#leaderboard_btn:active {
	background: #d0d0d0;
    -webkit-box-shadow: inset 0 0 1px 1px #e3e3e3;
    box-shadow: inset 0 0 1px 1px #e3e3e3;
    color: #000; 
}

#logout_btn {
	position: relative;
	right: 5%;
	background: #e3e3e3;
	border: 1px solid #bbb;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
	box-shadow: inset 0 0 1px 1px #f6f6f6;
	color: #333;
	font: bold 12px/1 "helvetica neue", helvetica, arial, sans-serif;
	padding: 8px 0 9px;
	text-align: center;
	text-shadow: 0 1px 0 #fff;
	width: 150px; }

#logout_btn:hover {
	background: #d9d9d9;
	-webkit-box-shadow: inset 0 0 1px 1px #eaeaea;
	box-shadow: inset 0 0 1px 1px #eaeaea;
	color: #222;
	cursor: pointer; }

#logout_btn:active {
	background: #d0d0d0;
    -webkit-box-shadow: inset 0 0 1px 1px #e3e3e3;
    box-shadow: inset 0 0 1px 1px #e3e3e3;
    color: #000; 
}

#btnHolder {
	text-align:center;
	position: relative;
	margin-top: 100px !important;
}

#train_btn {
	display: block;
    margin : 0 auto;
	background: #e3e3e3;
	border: 2px solid #bbb;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 0 2px 2px #f6f6f6;
	box-shadow: inset 0 0 2px 2px #f6f6f6;
	color: #333;
	font: bold 24px/1 "helvetica neue", helvetica, arial, sans-serif;
	padding: 16px 0 18px;
	text-align: center;
	text-shadow: 0 2px 0 #fff;
	width: 300px; }

#train_btn:hover {
	background: #d9d9d9;
	-webkit-box-shadow: inset 0 0 2px 2px #eaeaea;
	box-shadow: inset 0 0 2px 2px #eaeaea;
	color: #222;
	cursor: pointer; }

#train_btn:active {
	background: #d0d0d0;
    -webkit-box-shadow: inset 0 0 2px 2px #e3e3e3;
    box-shadow: inset 0 0 2px 2px #e3e3e3;
    color: #000; 
}

#register {
	padding-left: 3%;
	font: bold 12px/1 "helvetica neue", helvetica, arial, sans-serif;
}