html {
	height: 100%;
	width: 100%;
	margin: 0 !important;
	padding: 0 !important;
}

body {
	height: 95%;
	margin: 0 !important;
	padding: 0 !important;
}

#top-banner {
	width: 100%;
	height: 100px;
	background: rgba(192,192,192,0.5);

/*	margin: 0px;
*/
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
}

#welcome {
	float: left;
	position: relative;
	left: 2%;
}

#welcome > h1 {
	font-size: 2.5em;
	font-family: "Gill Sans", sans-serif;
	font-weight: bold;
}

.btnHolder2 {
	float: right;
	top: 30%;
	position: relative;
}

#home_btn {
	position: relative;
	right: 5%;
	background: #e3e3e3;
	border: 1px solid #bbb;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
	box-shadow: inset 0 0 1px 1px #f6f6f6;
	color: #333;
	font: bold 12px/1 "helvetica neue", helvetica, arial, sans-serif;
	padding: 8px 0 9px;
	text-align: center;
	text-shadow: 0 1px 0 #fff;
	width: 150px; }

#home_btn:hover {
	background: #d9d9d9;
	-webkit-box-shadow: inset 0 0 1px 1px #eaeaea;
	box-shadow: inset 0 0 1px 1px #eaeaea;
	color: #222;
	cursor: pointer; }

#home_btn:active {
	background: #d0d0d0;
    -webkit-box-shadow: inset 0 0 1px 1px #e3e3e3;
    box-shadow: inset 0 0 1px 1px #e3e3e3;
    color: #000; }
}

.logHolder {
	position: relative;
	padding-left: 100px;
}

#log {
	/*font: bold 16px/1 'helvetica neue', helvetica, arial, sans-serif;*/
	font-family: "Gill Sans", sans-serif;
	font-size: 1.7em;
}

.formHolder {
	padding-left: 5%;
	padding-top: 1%;
}

#login_btn {
	position: relative;
	background: #e3e3e3;
	border: 1px solid #bbb;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
	box-shadow: inset 0 0 1px 1px #f6f6f6;
	color: #333;
	font: bold 12px/1 "helvetica neue", helvetica, arial, sans-serif;
	padding: 8px 0 9px;
	text-align: center;
	text-shadow: 0 1px 0 #fff;
	width: 150px; }

#login_btn:hover {
	background: #d9d9d9;
	-webkit-box-shadow: inset 0 0 1px 1px #eaeaea;
	box-shadow: inset 0 0 1px 1px #eaeaea;
	color: #222;
	cursor: pointer; }

#login_btn:active {
	background: #d0d0d0;
    -webkit-box-shadow: inset 0 0 1px 1px #e3e3e3;
    box-shadow: inset 0 0 1px 1px #e3e3e3;
    color: #000; }
}