<!DOCTYPE html>
<html>

<head>
	<script src="https://code.jquery.com/jquery-1.10.1.js"></script>
	<link rel="stylesheet" href="../static/css/register.css">
</head>

<body>

<div id = 'top-banner'>
    <div id="welcome">
      <h1>
        Ethno<span style="color: rgba(255,20,30,0.9);">guessr</span>
      </h1>
    </div>

    <div class="btnHolder2">
      <input type="button" id="home_btn" class="btn btn-default" value="HOME">
    </div>
</div>

<h4 style="padding-left: 5%;padding-top: 1%;  font-family: 'Gill Sans', sans-serif;font-size: 1.7em;">PASSWORD RESET</h4>

<div class="formHolder" style="padding-left: 5%;padding-top: 1%;height: 100%;">
  <h3 style="padding-left: 5%;padding-top: 1%;  font-family: 'Gill Sans', sans-serif;font-size: 1em;">Enter your email</h3>
  <form action="/forgot-password" method="post">
      <input style="margin-left: 5%;" type="text" placeholder="Email" name="email" value="{{request.form.email }}">

      <input style="margin-left: 2%;" class="btn btn-default" id="submit_btn" type="submit" value="Send reset mail">
  </form>
</div>

</body>

<script type="text/javascript">
  $(document).ready(function () {
      $("#home_btn").click(function () {
        window.location.href = '/'
      });
  });

</script>

</html>