<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-1.10.1.js"></script>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
</head>

<body>

  <div id = 'top-banner'>
    <div id="welcome">
      <h1>
        Ethno<span style="color: rgba(255,20,30,0.9);">guessr</span>
      </h1>
    </div>

    <div class="btnHolder2">
      <input name="leaderboard_btn" type="button" id="leaderboard_btn" class="btn btn-default" value="Leaderboard">
    </div>

    <div class="btnHolder2">
      <input name="logout-btn" type="button" id="logout_btn" class="btn btn-default" value="LOG OUT">
    </div>
  </div>
  
  {% block body %}
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages%}
          <p style="padding-left: 5%; font: italic 14px/1 'helvetica neue', helvetica, arial, sans-serif;">{{message}}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
  {% endblock %}

  <div id="btnHolder" style="padding-top: 150px">
    <input name="train-btn" type="button" id="train_btn" class="btn btn-default" value="PLAY NOW">
  </div>
    
  <div class="regHolder" style="padding-top: 150px">
    <p id="register" style="padding-left: 3%; font: bold 16px/1 'helvetica neue', helvetica, arial, sans-serif;">Don't have an account yet? <a href="/register">Register</a>.</p>
  </div>

</body>

<script type="text/javascript">
  $(document).ready(function () {
    $("#train_btn").click(function () {
      window.location.href = "/play_mode"
    });
    $("#leaderboard_btn").click(function () {
      window.location.href = "/leaderboard"
    });
    $("#logout_btn").click(function () {
      $.post('/logout');
    });
});
</script>

</html>