<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-1.10.1.js"></script>
    <link rel="stylesheet" href="../static/css/login.css">
</head>

<body>
	<div id = 'top-banner'>
    <div id="welcome">
      <h1>
        Ethno<span style="color: rgba(255,20,30,0.9);">guessr</span>
      </h1>
    </div>

    <div class="btnHolder2">
      <input type="button" id="home_btn" class="btn btn-default" value="HOME">
    </div>
  </div>

	<div class="logHolder" style="padding-left: 5%;padding-top: 2%">
		<h1 id="log">Login is no longer required. <a href="/play_mode">Click here to play!</a></h1>
	</div>
</body>

<script type="text/javascript">
	$(document).ready(function () {
	    $("#home_btn").click(function () {
	      window.location.href = '/'
	    });
	});
</script>

</html>